@inherits LayoutComponentBase

<PageTitle>Rights Hero</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.lac.org.na/laws/annoSTAT/Namibian%20Constitution.pdf" target="_blank">Namibian Constitution Download</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
